
header {
background-color:black;
color:white;
text-align: center;
height:70px;
font-size:50px;
}
.welcome  {
margin:0 450px;
}
.p1
{
margin-top:30px;
}
.p2
{
margin-top:30px;
}
img {
  height:150px ;
  width:400px;
}
a {
  text-decoration:none;
  color:red;
  margin-top:30px;
}
footer
{
background-color:black;
color:white;
text-align: center;
height:70px;
font-size:50px;
}
